
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
</head>
<body>
    <div>
    </div>
</body>
</html>

@{
    ViewBag.Title = "Thank You";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

